

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 255, 249, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
    --bs-navbar-toggler-border-color: rgba(250, 255, 249, 1)!important;
}

main {
    background-color: black;
    color: whitesmoke;
}

.bg-cian {
    background-color: #10C5FA;
}

#QuienesSomos .texto p {
    text-align: justify;
}

.card-img-top {
    max-height: 220px!important;
}